@model IEnumerable<UltraBudget2.Models.Transaction>

@{
    ViewData["Title"] = "Budget";
    var categorySelectList = (List<SelectListItem>)TempData["Categories"];
    var accountSelectList = (List<SelectListItem>)TempData["Accounts"];
    var masterCategories = (List<MasterCategory>)TempData["MasterCategories"];
    var budget = (BudgetDao)TempData["Budget"];
}

<div id="main-view" style="height:100%; border: dashed grey; border-width:0px 1px 0px 1px;">
    <div id="months-view" style="display:flex; flex-flow:row wrap; border: solid grey; min-height:15%;">
        <div style="display:flex; border: solid grey; flex-grow:1; width:25%;">
        </div>
        <div style="display:flex; border: solid grey; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; border: solid grey; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; border: solid grey; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; flex-flow:row; flex:0 1 100%; max-height:25%;">
            <div style="display:flex; flex-flow:column; border: solid grey; border-width: 1px 0px 0px 0px; flex-grow:1; width:25%">
                <a asp-controller="Categories" asp-action="CreateMasterCategory">Create new Master Category</a>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
        </div>
    </div>
    <div id="budget-view" style="display:flex; flex-flow: row wrap;">
        @foreach (var category in masterCategories)
        {
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                @category.Name
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
                <div style="display:flex; border: solid grey; flex-grow:1;">
                </div>
            </div>
            @foreach (var subCategory in category.SubCategories)
            {
                <div style="display:flex; flex-grow:1; width:25%;">
                    @subCategory.Name
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                    <div style="display:flex; border: solid grey; flex-grow:1;">
                    </div>
                </div>
            }
        }
    </div>
</div>