@{
    ViewData["Title"] = "Index";
    var categorySelectList = (List<SelectListItem>)TempData["Categories"];
    var accountSelectList = (List<SelectListItem>)TempData["Accounts"];
    var masterCategories = (List<MasterCategory>)TempData["MasterCategories"];
}

<div id="main-view" style="height:100%; border:1px dashed green">
    <div id="months-view" style="display:flex; flex-flow:row wrap; border:1px solid red; min-height:15%;">
        <div style="display:flex; border:1px solid purple; flex-grow:1; width:25%;">
        </div>
        <div style="display:flex; border:1px solid purple; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; border:1px solid purple; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; border:1px solid purple; flex-grow:1; width:25%">
            <p>
                January 2019 <br />
                Not spent in January <br />
                Overspent in January <br />
                Income for January <br />
                Budgeted for January <br />
                0 <br />
                Available to budget <br />
            </p>
        </div>
        <div style="display:flex; flex-flow:row; border:1px solid yellow; flex:0 1 100%; max-height:25%;">
            <div style="display:flex; flex-flow:column; border:1px solid gold; flex-grow:1; width:25%">
                <a asp-controller="Categories" asp-action="CreateMasterCategory">Create new Master Category</a>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
        </div>
    </div>
    <div id="budget-view" style="display:flex; flex-flow: row wrap; border:1px solid blue;">
        @foreach (var category in masterCategories)
        {
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                @category.Name
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
            <div style="display:flex; flex-flow: row wrap; background-color: lightsteelblue; flex-grow:1; width:25%;">
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
                <div style="display:flex; border:1px solid gold; flex-grow:1;">
                </div>
            </div>
            @foreach (var subCategory in category.SubCategories)
            {
                <div style="display:flex; border:1px solid blue; flex-grow:1; width:25%;">
                    @subCategory.Name
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                </div>
                <div style="display:flex; flex-flow: row wrap; flex-grow:1; width:25%;">
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                    <div style="display:flex; border:1px solid gold; flex-grow:1;">
                    </div>
                </div>
            }
        }
    </div>
</div>