@model UltraBudget2.Models.SubCategory

@{
    ViewData["Title"] = "CreateSubCategory";
    var masterategorySelectList = (List<SelectListItem>)TempData["Categories"];
}

<h2>CreateSubCategory</h2>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MasterCategory" class="control-label"></label>
                <select asp-for="MasterCategory" asp-items="masterategorySelectList" class="form-control"></select>
                <span asp-validation-for="MasterCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateSubCategory" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

